body{
     background-image: url("a76fd7e7-91c0-4663-9b7c-40e0193f538c.jpg");
    background-position: 30px10px;
    color:white;}
h1{
    color:red;
}
h3{
    color:chartreuse;
    text-align: center;
    text-shadow: 6px 6px 0px black;
 
}
 h1+p {
  text-align:center;
   }


h2{
    color:dodgerblue;
    border: solid #800000;
    box-shadow: 6px 6px 0px black;
}
 h2+ul{
   border:2px solid black;
          
   }
a:hover{
    color:white;
    background-color: black;
}
       
}
a:visited{
    color:red;
   back ground-color: white ;
}